[Unit]
Description=IR Gesture Detection System
After=network.target

[Service]
ExecStart=/home/raspi/WandGestureDetector/.venv/bin/python /home/raspi/WandGestureDetector/main.py
WorkingDirectory=/home/raspi/WandGestureDetector
Restart=on-failure
User=raspi
Environment=WAND_AUDIO_DEVICE=plughw:CARD=vc4hdmi,DEV=0
SupplementaryGroups=video gpio audio

[Install]
WantedBy=multi-user.target
